<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_advanced_popup</name>
    <displayName><![CDATA[Advanced Popup Studio]]></displayName>
    <version><![CDATA[2.0.1]]></version>
    <description><![CDATA[Create premium targeted popups with templates, A/B variants, coupons and anonymous analytics.]]></description>
    <author><![CDATA[Advanced Popup Studio]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
